extends layout

block content
    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='brand') Brand:
            input#brand.form-control(type='text', placeholder='Enter brand' name='brand' required='true' value=(undefined===disc ? '' : disc.brand))
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Enter Name' name='name' required='true' value=(undefined===disc ? '' : disc.name))
            label(for='color') Color:
            input#color.form-control(type='text', placeholder='Enter Color' name='color' required='true' value=(undefined===disc ? '' : disc.color))
            label(for='weight') Weight:
            input#weight.form-control(type='text', placeholder='Enter Weight' name='weight' required='true' value=(undefined===disc ? '' : disc.weight))
            label(for='type') Type:
            select#type.form-control(type='select', placeholder='Select Type' name='type' required='true' value=(undefined===disc ? '' : disc.type))
                option(value='Distance Driver') Distance Driver
                option(value='Fairway Driver') Fairway Driver
                option(value='Mid-Range') Mid-Range
                option(value='Putter') Putter
            label(for='speed') Speed:
            select#speed.form-control(type='select', placeholder='Speed' name='speed' required='true' value=(undefined===disc ? '' : disc.speed))
                each val in [1,2,3,4,5,6,7,8,9,10,11,12,13]
                    option(value=val)= val
            label(for='glide') Glide:
            select#glide.form-control(type='select', placeholder='Glide' name='glide' required='true' value=(undefined===disc ? '' : disc.glide))
                each val in [1,2,3,4,5,6,7]
                    option(value=val)= val
            label(for='turn') Turn
            select#turn.form-control(type='select', placeholder='Turn' name='turn' required='true' value=(undefined===disc ? '' : disc.turn))
                each val in [-5,-4,-3,-2,-1,0,1]
                    option(value=val)= val
            label(for='fade') Fade
            select#fade.form-control(type='select', placeholder='Fade' name='fade' required='true' value=(undefined===disc ? '' : disc.fade)) 
                each val in [0,1,2,3,4,5,6]
                    option(value=val)= val
        button.btn.btn-primary(type='submit') Submit

        if errors
            ul
                for error in errors
                    li!= error.msg