extends layout

block content
    h1= title
    a(href='disc/create')   
        button(class="btn btn-success") Add Disc

    table(class="table")
        thead
            tr
                th Brand
                th Name
                th Color
                th Weight
                th Type
                th Speed
                th Glide
                th Turn
                th Fade
                th
                th
        tbody
            each disc in disc_list
                tr
                    td #{disc.brand}
                    td #{disc.name}
                    td #{disc.color}
                    td #{disc.weight}
                    td #{disc.type}
                    td #{disc.speed}
                    td #{disc.glide}
                    td #{disc.turn}
                    td #{disc.fade}
                    td
                        a(href=disc.url + '/update')
                            button(class="btn btn-warning") Update
                    td
                        a(href=disc.url + '/delete')
                            button(class="btn btn-danger") Delete